<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recrutrak5000"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"></uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.MainActivity"
            android:label="@string/home" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.StudentLoginActivity"
            android:label="@string/student_login" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.AdministratorLoginActivity"
            android:label="@string/administrator_login" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.StudentMainActivity"
            android:label="@string/student_welcome" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.RequestVisitActivity"
            android:label="@string/request_visit"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.StudentExitSurveyActivity"
            android:label="@string/home" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.MapViewActivity"
            android:label="@string/home" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.FacultyMainActivity"
            android:label="@string/faculty_main"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.StaffMainActivity"
            android:label="@string/faculty_main"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.SetAvailabilityActivity"
            android:label="@string/faculty_main"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.ViewMeetingsActivity"
            android:label="@string/view_meetings"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.SetExceptionsActivity"
            android:label="@string/set_exceptions"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:logo="@android:color/transparent"
            android:name="com.example.recrutrak5000.ViewRequestsActivity"
            android:label="@string/view_requests"
            android:windowSoftInputMode="stateHidden"
            android:focusable="false" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.ONCLICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDcfnVcOD4HqW2xoJuExdolyQHSNHShrJ0"/>
        <meta-data 
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        
    </application>

</manifest>
